.pen .penContainer .penIframe{
    border:none;
    height:560px;
    margin:-90px 0 -70px;
    opacity:0;
    overflow:hidden;
    padding:0;
    position:relative;
    width:400px;
    z-index:5;
}

.pen .penContainer .penIframe.show{
    opacity:1;
    transition-duration:.15s;
    transition-duration:.5s;
    transition-property:opacity;
    transition-timing-function:cubic-bezier(.4,0,.2,1);
}